<%- include ('./partials/header');%>

<div class="container">
    <p class="lead" style="text-align: center;font-size: 1.6rem;">code worth <span><%=code.value%> NG</span> </p>
    <p class="lead" style="text-align: center;font-size: 1.6rem;"><%=code.code%></p>
</div>

<%- include ('./partials/footer');%>
