<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rainbow Capitals</title>
  <link rel="icon" type="image/png" href="/assets/images/favicon.png" sizes="16x16">
  <link rel="stylesheet" href="/assets/css/news-slider.css">
  <!-- bootstrap 4  -->
  <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
  <!-- fontawesome 5  -->
  <link rel="stylesheet" href="/assets/css/all.min.css">
  <!-- line-awesome webfont -->
  <link rel="stylesheet" href="/assets/css/line-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/vendor/animate.min.css">
  <!-- slick slider css -->
  <link rel="stylesheet" href="/assets/css/vendor/slick.css">
  <link rel="stylesheet" href="/assets/css/vendor/dots.css">
  <!-- dashdoard main css -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <meta property="og:url"           content="https://www.rainbowcapital.org/" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Your Website Title" />
<meta property="og:description"   content="Your description" />
<meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />
</head>
</head>

<body>
    <div class="preloader">
      <div class="preloader-container">
        <span class="animated-preloader"></span>
      </div>
    </div>
  
    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
      <span class="scroll-icon">
        <i class="fa fa-rocket" aria-hidden="true"></i>
      </span>
    </div>
    <!-- scroll-to-top end -->

  <div class="full-wh">
    <!-- STAR ANIMATION -->
    <div class="bg-animation">
      <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>
      <div id='stars4'></div>
    </div><!-- / STAR ANIMATION -->
  </div>
  <div class="page-wrapper">
      <!-- header-section start  -->
  <header class="header">
    <div class="header__bottom">
      <div class="container">
        <nav class="navbar navbar-expand-xl p-0 align-items-center">
          <a class="site-logo site-title" href="/profile"><img src="assets/images/Profile.png" height="20" width="4" alt="site-logo"></a>
          <ul class="account-menu mobile-acc-menu">
            <li class="icon">
              <a href="/logout"><i class="las la-user"></i></a>
            </li>
          </ul> 
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu-toggle"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav main-menu m-auto">

              <li><a href="/dashboard">Your Dashboard</a></li>
              <li><a href="/transactions">Transactions</a></li>
              <li> <a href="/plan">Invest</a></li>
              <li> <a href="/payment">Payments</a></li>
              <li> <a href="/deposit">Coupon</a></li>
              <li> <a href="/withdraw">Withdraw</a></li>
              <li><a href="/blog">News</a></li>
              <li><a href="/saving">Saving</a></li>
           
            </ul>
            <div class="nav-right">
              <ul class="account-menu ml-3">
                <li class="icon">
                  <a href="/logout"><i class="las la-user"></i></a>
                </li>
              </ul> 

            </div>
          </div> 
        </nav>
      </div>
      <!-- <div style="align-content: center; ">
        <div class="alert alert-dark"  style="text-align: center;;margin-bottom: 30px;margin-top: 30px;" role="alert">
          <h5>Error occured here</h5>
          <!-- <%=error%> -->
        </div>
      </div>
    </div><!-- header__bottom end -->
   
    
  </header>