<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css"></link>

</head>
<body>
    <div class="container-fluid">
        <nav class="navbar  navbar-expand-lg navbar-dark bg-dark fixed-top" >
            <a class="navbar-brand" >BTX</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
          </nav>

          <div style="margin-bottom: 80px;"></div>

          <div class="jumbotron jumbotron-fluid bg-dark text-light">
            <div class="container" style="text-align: center;">
              <h1 class="lead" style="font-size:2rem;">Billion Traderx</h1>
            </div>
          </div>

        <p class="lead" style="text-align: center;">Select Bundle and drop valid Email address</p>

        <div class="row">
            <div class="col-lg-4"></div>
        </div>

            <div class="container">
            <table class="table table-sm table-light">
                <thead>
                  <tr>
                    <th scope="col">Bundle</th>
                    <th scope="col">Payment</th>
                
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Emerald</th>
                    <td><a target="_blank" class="btn btn-dark"
                        href="https://commerce.coinbase.com/checkout/b08f6ab4-898e-44c9-8b6e-65afa15c4a59">
                       Buy
                     </a></td>
                  </tr>

                  <tr>
                    <th scope="row">Ruby</th>
                    <td>   <a target="_blank" class="btn btn-dark"
                        href="https://commerce.coinbase.com/checkout/a9cab2b7-1cdd-455d-98d4-91f52dff6db4">
                        Buy
                     </a></td>
                  </tr>

                  <tr>
                    <th scope="row">Beryl</th>
                    <td colspan="2"><a target="_blank" class="btn btn-dark"
                        href="https://commerce.coinbase.com/checkout/a337edcc-08c4-4569-9d4d-3b2c9ce40363">
                       Buy
                     </a></td>

                  </tr>

                  <tr>
                      <th scope="row">Onyx</th>
                      <td colspan="2"><a target="_blank" class="btn btn-dark"
                        href="https://commerce.coinbase.com/checkout/53107e4f-3195-4217-b3eb-f02ae43c2475">
                       Buy
                     </a></td>
                  </tr>

                  <tr>
                    <th scope="row">Sapphire</th>
                    <td colspan="2">  <a target="_blank" class="btn btn-dark"
                        href="https://commerce.coinbase.com/checkout/e0400fc4-8ff1-4f3e-ae1b-b007de1d981d">
                        Buy
                     </a>
         </td>
                </tr>

                <tr>
                    <th scope="row">100,000 BTX</th>
                    <td colspan="2"><a target="_blank" class="btn btn-dark"
                        href="https://commerce.coinbase.com/checkout/6e9b65b9-8277-4f88-8ae8-5cb3e036f60e">
                       Buy
                     </a></td>
                </tr>

                <tr>
                    <th scope="row">200,000 BTX</th>
                    <td colspan="2"> <a target="_blank" class="btn btn-dark"
                        href="https://commerce.coinbase.com/checkout/f637fe45-b634-46ae-aeb0-48a16ff7f6e2">
                       Buy
                     </a></td>
                </tr>

                <tr>
                    <th scope="row">500,000 BTX</th>
                    <td colspan="2"> <a target="_blank" class="btn btn-dark"
                        href="https://commerce.coinbase.com/checkout/1c7b4eee-49cc-426e-8f3b-805cc52c6313">
                       Buy
                     </a></td>
                </tr>

                <tr>
                    <th scope="row">1,000,000 BTX</th>
                    <td colspan="2"><a target="_blank" class="btn btn-dark "
                        href="https://commerce.coinbase.com/checkout/0b3c83d8-583d-4bc7-a9da-d6459669d0ad">
                       Buy
                     </a></td>
                </tr>

                </tbody>
              </table>
            </div>

    </div>
    
</body>
</html>