<%- include ('./partials/header2');%>

<!-- hero start -->
<section class="hero bg_img" data-background="assets/images/bg/gem.jpg">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-8">
        <div class="hero__content">
          <h2 class="hero__title">
            <span class="text-white font-weight-normal"
              >Invest for the Future in a Stable Platform</span
            >
            <b class="base--color">and earn passive income</b>
          </h2>
          <p class="text-white f-size-18 mt-3">
            Invest in an Industry Leader, Professional, and Reliable Company. We
            provide you with the most necessary features that will make your
            experience better. Not only we guarantee the fastest and the most
            exciting returns on your investments, but we also guarantee the
            security of your investment.
          </p>
          <a
            href="/auth/signup"
            class="cmn-btn text-uppercase font-weight-600 mt-4"
            >Sign Up</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero end -->

<!-- about section start -->
<section
  class="pt-120 pb-120 overlay--radial bg_img"
  data-background="assets/images/bg/stack.jpg"
>
  <section style="display: flex; flex-direction: column; align-items: center">
    <video style="width: 50%" controls autoplay loop>
      <source type="video/mp4" src="assets/images/ad.mp4" />
    </video>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-6">
        <div class="about-content">
          <h2 class="section-title mb-3">
            <span class="font-weight-bold">About</span>
            <b class="base--color">Us</b>
          </h2>
          <p class="mt-4">
            RAINBOW CAPITALS is an arbitrage enterprise centered around both
            digital and physical tradable products. We offer a fortuity for
            subscribers to help use there funds create funnel of timely
            cashflow, that can be accessed from any country in the world.
          </p>
          <a href="/about" class="cmn-btn mt-4">MORE INFO</a>
        </div>
        <!-- about-content end -->
      </div>
    </div>
  </div>
</section>
<!-- about section end -->

<!-- package section start -->
<section
  class="pt-120 pb-120 bg_img"
  data-background="assets/images/bg/gem.jpg"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="section-header">
          <h2 class="section-title">
            <span class="font-weight-normal">GRAB OUR MEGA </span>
            <b class="base--color">PACKAGES</b>
          </h2>
          <p>
            For convenience of investors, our analysts have developed a number
            of investment packages with different profit levels. Choose the one
            that meets your amount to be invested , rate of return and other
            parameters
          </p>
        </div>
      </div>
    </div>
    <!-- row end -->
    <div class="row justify-content-center mb-none-30">
      <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
        <div class="package-card text-center bg_img">
          <h4 class="package-card__title base--color mb-2">Student</h4>
          <ul class="package-card__features mt-4">
            <li>$2.53 Daily</li>
            <li>21 Working days</li>
            <li>Affliate Bonus $1.83</li>
            <li>
              Total 45% + <span class="badge base--bg text-dark">Capital</span>
            </li>
          </ul>
          <div class="package-card__range mt-5 base--color">NGN 18,000</div>
          <p class="base--color" style="font-size: smaller">NGN ~ 26,000</p>
          <a href="/plan" class="cmn-btn btn-md mt-4">Invest Now</a>
        </div>
        <!-- package-card end -->
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
        <div class="package-card text-center bg_img">
          <h4 class="package-card__title base--color mb-2">Artisans</h4>
          <ul class="package-card__features mt-4">
            <li>$4.64 Daily</li>
            <li>21 Working days</li>
            <li>Affliate Bonus $3.36</li>
            <li>
              Total 45% + <span class="badge base--bg text-dark">Capital</span>
            </li>
          </ul>

          <div class="package-card__range mt-5 base--color">NGN 33,000</div>
          <p class="base--color" style="font-size: smaller">NGN ~ 47,850</p>
          <a href="/plan" class="cmn-btn btn-md mt-4">Invest Now</a>
        </div>
        <!-- package-card end -->
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
        <div class="package-card text-center bg_img">
          <h4 class="package-card__title base--color mb-2">Job Holders</h4>
          <ul class="package-card__features mt-4">
            <li>$9.86 Daily</li>
            <li>21 Working days</li>
            <li>Affliate Bonus $7.14</li>
            <li>
              Total 45% + <span class="badge base--bg text-dark">Capital</span>
            </li>
          </ul>
          <div class="package-card__range mt-5 base--color">NGN 70,000</div>
          <p class="base--color" style="font-size: smaller">NGN ~ 101,500</p>
          <a href="/plan" class="cmn-btn btn-md mt-4">Invest Now</a>
        </div>
        <!-- package-card end -->
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
        <div class="package-card text-center bg_img">
          <h4 class="package-card__title base--color mb-2">Civil</h4>
          <ul class="package-card__features mt-4">
            <li>$18.31 Daily</li>
            <li>21 Working days</li>
            <li>Affliate Bonus $13.26</li>
            <li>
              Total 45% + <span class="badge base--bg text-dark">Capital</span>
            </li>
          </ul>
          <div class="package-card__range mt-5 base--color">NGN 130,000</div>
          <p class="base--color" style="font-size: smaller">NGN ~ 188,500</p>
          <a href="/plan" class="cmn-btn btn-md mt-4">Invest Now</a>
        </div>
        <!-- package-card end -->
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
        <div class="package-card text-center bg_img">
          <h4 class="package-card__title base--color mb-2">Entrepreneur</h4>
          <ul class="package-card__features mt-4">
            <li>$42.27 Daily</li>
            <li>21 Working days</li>
            <li>Affliate Bonus $30.61</li>
            <li>
              Total 45% + <span class="badge base--bg text-dark">Capital</span>
            </li>
          </ul>
          <div class="package-card__range mt-5 base--color">NGN 300,000</div>
          <p class="base--color" style="font-size: smaller">NGN ~ 435,000</p>
          <a href="/plan" class="cmn-btn btn-md mt-4">Invest Now</a>
        </div>
        <!-- package-card end -->
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
        <div class="package-card text-center bg_img">
          <h4 class="package-card__title base--color mb-2">Professional</h4>
          <ul class="package-card__features mt-4">
            <li>$90.18 Daily</li>
            <li>21 Working days</li>
            <li>Affliate Bonus $65.30</li>
            <li>
              Total 45% + <span class="badge base--bg text-dark">Capital</span>
            </li>
          </ul>
          <div class="package-card__range mt-5 base--color">NGN 640,000</div>
          <p class="base--color" style="font-size: smaller">NGN ~ 928,000</p>
          <a href="/plan" class="cmn-btn btn-md mt-4">Invest Now</a>
        </div>
        <!-- package-card end -->
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
        <div class="package-card text-center bg_img">
          <h4 class="package-card__title base--color mb-2">Capitalist</h4>
          <ul class="package-card__features mt-4">
            <li>$155.00 Daily</li>
            <li>21 Working days</li>
            <li>Affliate Bonus $112.24</li>
            <li>
              Total 45% + <span class="badge base--bg text-dark">Capital</span>
            </li>
          </ul>
          <div class="package-card__range mt-5 base--color">NGN 1,100,000</div>
          <p class="base--color" style="font-size: smaller">NGN ~ 1,595,000</p>
          <a href="/plan" class="cmn-btn btn-md mt-4">Invest Now</a>
        </div>
        <!-- package-card end -->
      </div>
    </div>
    <!-- row end -->
  </div>
</section>
<!-- package section end  -->

<!-- choose us section start -->
<section
  class="pt-120 pb-120 overlay--radial bg_img"
  data-background="assets/images/bg/row.jpg"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="section-header">
          <h2 class="section-title">
            <span class="font-weight-normal">Why Choose</span>
            <b class="base--color">Rainbow Capitals</b>
          </h2>
          <p>
            Our goal is to provide our investors with a reliable source of high
            income, while minimizing any possible risks and offering a
            high-quality service.
          </p>
        </div>
      </div>
    </div>
    <!-- row end -->
    <div class="row justify-content-center mb-none-30">
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="choose-card border-radius--5">
          <div class="choose-card__header mb-3">
            <div class="choose-card__icon">
              <i class="lar la-copy"></i>
            </div>
            <h4 class="">Legal Company</h4>
          </div>
          <p>
            Our company conducts absolutely legal activities in the legal field.
            We are certified to operate investment business, we are legal and
            safe.
          </p>
        </div>
        <!-- choose-card end -->
      </div>
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="choose-card border-radius--5">
          <div class="choose-card__header mb-3">
            <div class="choose-card__icon">
              <i class="las la-lock"></i>
            </div>
            <h4 class="choose-card__title base--color">High reliability</h4>
          </div>
          <p>
            We are trusted by a huge number of people. We are working hard
            constantly to improve the level of our security system and minimize
            possible risks.
          </p>
        </div>
        <!-- choose-card end -->
      </div>
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="choose-card border-radius--5">
          <div class="choose-card__header mb-3">
            <div class="choose-card__icon">
              <i class="las la-user-lock"></i>
            </div>
            <h4 class="choose-card__title base--color">Anonymity</h4>
          </div>
          <p>
            Anonymity and using cryptocurrency as a payment instrument. In the
            era of electronic money – this is one of the most convenient ways of
            cooperation.
          </p>
        </div>
        <!-- choose-card end -->
      </div>
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="choose-card border-radius--5">
          <div class="choose-card__header mb-3">
            <div class="choose-card__icon">
              <i class="las la-shipping-fast"></i>
            </div>
            <h4 class="choose-card__title base--color">Quick Withdrawal</h4>
          </div>
          <p>
            Our all retreats are treated spontaneously once requested. There are
            high maximum limits. The minimum withdrawal amount is only $10.
          </p>
        </div>
        <!-- choose-card end -->
      </div>
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="choose-card border-radius--5">
          <div class="choose-card__header mb-3">
            <div class="choose-card__icon">
              <i class="las la-users"></i>
            </div>
            <h4 class="choose-card__title base--color">Referral Program</h4>
          </div>
          <p>
            We are offering a certain level of referral income through our
            referral program. you can increase your income by simply refer a few
            people.
          </p>
        </div>
        <!-- choose-card end -->
      </div>
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="choose-card border-radius--5">
          <div class="choose-card__header mb-3">
            <div class="choose-card__icon">
              <i class="las la-headset"></i>
            </div>
            <h4 class="choose-card__title base--color">24/7 Support</h4>
          </div>
          <p>
            We provide 24/7 customer support through e-mail and telegram. Our
            support representatives are periodically available to elucidate any
            difficulty..
          </p>
        </div>
        <!-- choose-card end -->
      </div>
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="choose-card border-radius--5">
          <div class="choose-card__header mb-3">
            <div class="choose-card__icon">
              <i class="las la-server"></i>
            </div>
            <h4 class="choose-card__title base--color">Dedicated Server</h4>
          </div>
          <p>
            We are using a dedicated server for the website which allows us
            exclusive use of the resources of the entire server.
          </p>
        </div>
        <!-- choose-card end -->
      </div>
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="choose-card border-radius--5">
          <div class="choose-card__header mb-3">
            <div class="choose-card__icon">
              <i class="fab fa-expeditedssl"></i>
            </div>
            <h4 class="choose-card__title base--color">SSL Secured</h4>
          </div>
          <p>
            Comodo Essential-SSL Security encryption confirms that the presented
            content is genuine and legitimate.
          </p>
        </div>
        <!-- choose-card end -->
      </div>
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="choose-card border-radius--5">
          <div class="choose-card__header mb-3">
            <div class="choose-card__icon">
              <i class="las la-shield-alt"></i>
            </div>
            <h4 class="choose-card__title base--color">DDOS Protection</h4>
          </div>
          <p>
            We are using one of the most experienced, professional, and trusted
            DDoS Protection and mitigation provider.
          </p>
        </div>
        <!-- choose-card end -->
      </div>
    </div>
  </div>
</section>
<!-- choose us section end  -->

<!-- how work section start -->
<section class="pt-120 pb-120 bg_img">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="section-header">
          <h2 class="section-title">
            <span class="font-weight-normal">How</span>
            <b class="base--color">Rainbow Capitals</b>
            <span class="font-weight-normal">Works</span>
          </h2>
          <p>
            Participants are subjected to the task of pushing a content/adverts
            through their social media platforms; facebook required, as at when
            due.these contents will only be available on working days
            (Monday-Friday) and update on possible changes will be aired
            beforehand.
          </p>
        </div>
      </div>
    </div>
    <!-- row end -->
    <div class="row justify-content-center mb-none-30">
      <div class="col-lg-4 col-md-6 work-item mb-30">
        <div class="work-card text-center">
          <div class="work-card__icon">
            <i class="las la-user base--color"></i>
            <span class="step-number">01</span>
          </div>
          <div class="work-card__content">
            <h4 class="base--color mb-3">Create Account</h4>
          </div>
        </div>
        <!-- work-card end -->
      </div>

      <div class="col-lg-4 col-md-6 work-item mb-30">
        <div class="work-card text-center">
          <div class="work-card__icon">
            <i class="las la-hand-holding-usd base--color"></i>
            <span class="step-number">02</span>
          </div>
          <div class="work-card__content">
            <h4 class="base--color mb-3">Invest To Plan</h4>
          </div>
        </div>
        <!-- work-card end -->
      </div>
      <div class="col-lg-4 col-md-6 work-item mb-30">
        <div class="work-card text-center">
          <div class="work-card__icon">
            <i class="las la-wallet base--color"></i>
            <span class="step-number">03</span>
          </div>
          <div class="work-card__content">
            <h4 class="base--color mb-3">Get Profit</h4>
          </div>
        </div>
        <!-- work-card end -->
      </div>
    </div>
  </div>
</section>
<!-- how work section end  -->

<!-- faq section start -->
<section class="pt-120 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="section-header">
          <h2 class="section-title">
            <span class="font-weight-normal">Frequently Asked</span>
            <b class="base--color">Questions</b>
          </h2>
          <p>
            We answer some of your Frequently Asked Questions regarding our
            platform. If you have a query that is not answered here, Please
            contact us.
          </p>
        </div>
      </div>
    </div>
    <!-- row end -->
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="accordion cmn-accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  <i class="las la-question-circle"></i>
                  <span>What is RAINBOW CAPITALS?</span>
                </button>
              </h2>
            </div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                RAINBOW CAPITALS is an arbitrage enterprise centered around both
                digital and physical tradable products. We offer a fortuity for
                subscribers to help use there funds create funnel of timely
                cashflow, that can be accessed from any country in the world.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  <i class="las la-question-circle"></i>
                  <span>What does RAINBOW CAPITALS do with funds?</span>
                </button>
              </h2>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                The enterprise basically involves in arbitraging of both digital
                and physical products alongside online freelancing where
                investors pushes contents that are being paid for.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  <i class="las la-question-circle"></i>
                  <span> What are the means of deposit and withdraw?</span>
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                To make deposit and withdrawal seamless, we have various methods
                of payments that we accept which includes cryptocurrency(Bitcoin
                & Ethereum) and fiat(NGN), either through the websites or the
                listed verified agents.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                >
                  <i class="las la-question-circle"></i>
                  <span
                    >How will I know that the withdrawal has been
                    successful?</span
                  >
                </button>
              </h2>
            </div>
            <div
              id="collapseFour"
              class="collapse"
              aria-labelledby="headingFour"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                You will get an automatic notification once we send the funds
                and you can always check your transactions or account balance.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  <i class="las la-question-circle"></i>
                  <span>Can I withdraw before due date of investment? </span>
                </button>
              </h2>
            </div>
            <div
              id="collapseFive"
              class="collapse"
              aria-labelledby="headingFive"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                Withdrawal is only possible when invested funds have attained
                maturity.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseSix"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  <i class="las la-question-circle"></i>
                  <span
                    >Can I withdraw investment capital and entire profit after
                    due date?
                  </span>
                </button>
              </h2>
            </div>
            <div
              id="collapseSix"
              class="collapse"
              aria-labelledby="headingFive"
              data-parent="#accordionExample"
            >
              <div class="card-body">Yes, you can</div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseSeven"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  <i class="las la-question-circle"></i>
                  <span
                    >Is referring compulsory before user can withdraw?
                  </span>
                </button>
              </h2>
            </div>
            <div
              id="collapseSeven"
              class="collapse"
              aria-labelledby="headingFive"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                This is not an affiliate program, investors can withdraw funds
                without recommending our service to anyone, we only have the
                affiliate commission of 5% to encourage members to recommend us
                to their friends and family and earn a token.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse1"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  <i class="las la-question-circle"></i>
                  <span>Is there any task I have to do to earn? </span>
                </button>
              </h2>
            </div>
            <div
              id="collapse1"
              class="collapse"
              aria-labelledby="headingFive"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                Yes, subscribers are subjected to the task of pushing a
                content/adverts through their social media platforms; facebook
                required, as at when due.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse8"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  <i class="las la-question-circle"></i>
                  <span
                    >Can I loose my earnings or get my withdrawal declined?
                  </span>
                </button>
              </h2>
            </div>
            <div
              id="collapse8"
              class="collapse"
              aria-labelledby="headingFive"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                Yes, you can loose your earnings for the days that you did not
                share the content when you ought to and also when your facebook
                privacy settings is not on ‘PUBLIC’ as this would always be
                verified before subscriber’s payment is being disbursed.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse9"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  <i class="las la-question-circle"></i>
                  <span>How are commissions paid? </span>
                </button>
              </h2>
            </div>
            <div
              id="collapse9"
              class="collapse"
              aria-labelledby="headingFive"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                All commissions are paid into investors’ bank account or
                cryptocurrency wallet depending which gateway you choose upon
                maturity of investment.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse10"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  <i class="las la-question-circle"></i>
                  <span>When are commissions paid to investors? </span>
                </button>
              </h2>
            </div>
            <div
              id="collapse10"
              class="collapse"
              aria-labelledby="headingFive"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                All approved fiat withdrawals are disbursed only on weekends as
                there’s less activity for the enterprise. Crypto withdrawals
                might take 3-5 working days…
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse11"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  <i class="las la-question-circle"></i>
                  <span>Can I upgrade my packages at any time? </span>
                </button>
              </h2>
            </div>
            <div
              id="collapse11"
              class="collapse"
              aria-labelledby="headingFive"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                No, you can only upgrade your package only after a matured
                existing plan.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse12"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  <i class="las la-question-circle"></i>
                  <span>What tools do I need to become a subscriber? </span>
                </button>
              </h2>
            </div>
            <div
              id="collapse12"
              class="collapse"
              aria-labelledby="headingFive"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                All you need is a mobile device(phone or laptop), verified mail
                address, facebook account and start-up capital.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- faq section end -->

<!-- team section start -->
<section
  class="pt-120 pb-120 bg_img"
  data-background="assets/images/bg/gem.jpg"
></section>
<!-- team section end -->

<!-- cta section start -->
<section class="pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <div class="cta-wrapper bg_img border-radius--10 text-center">
          <h2 class="title mb-3">Get Started Today With Us</h2>
          <p>
            This is a Revolutionary Money Making Platform! Invest for Future in
            Stable Platform and Make Fast Money. Not only we guarantee the
            fastest and the most exciting returns on your investments, but we
            also guarantee the security of your investment.
          </p>
          <a href="/auth/signup" class="cmn-btn mt-4">Join Us</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- cta section end -->

<%- include ('./partials/footer');%>
