<%- include ('./partials/header');%>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <form action="/admin/notifications" method="POST" style="margin-top: 50px;">
                <div class="form-group">
                  <label for="exampleInputEmail1">Title</label>
                  <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Content</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="3" cols="300"></textarea>
                  </div>
                
                <button  type="submit" class="btn btn-dark btn-block" data-toggle="modal" data-target="#exampleModal">Send</button>
              </form>
        </div>
        <div class="col-md-4">

        </div>
    </div>

    
  
</div>




<%- include ('./partials/footer');%>