<%- include ('./partials/header2');%>
  <!-- header-section end  -->
    
    <!-- inner hero start -->
    <section class="inner-hero bg_img">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="page-title">Make Payment</h2>
            <ul class="page-breadcrumb">
              <li><a href="/">Home</a></li>
              <li>Payments</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- inner hero end -->


    <!-- package section start -->
    <section class="pt-120 pb-120 bg_img" data-background="assets/images/bg/gem.jpg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <div class="section-header">
              <h2 class="section-title"><span class="font-weight-normal">Payments </span> <b class="base--color">Page</b></h2>
              <p>Click on your desired plan you'll be redirected to coinbase , make payments and we'll credit your Wallet</p>
            </div> 
          </div>
        </div><!-- row end -->
        <div class="row justify-content-center mb-none-30">
          <div class="col-xl-3 col-lg-4 col-md-6 mb-30" >
            <div class="package-card text-center bg_img">
              <h4 class="package-card__title base--color mb-2">Student</h4>
              <ul class="package-card__features mt-4">
                <li>$2.53 Daily</li>
                <li>21 Working days</li>
                <li>Affliate Bonus $1.83 </li>
                <li>Total 45% + <span class="badge base--bg text-dark">Capital</span></li>
              </ul>
              <div class="package-card__range mt-5 base--color">NGN 18,000</div>
              <p class="base--color" style="font-size: smaller;">NGN ~ 26,000</p>
              <a href="https://commerce.coinbase.com/checkout/53f4ec99-0a36-420c-abfe-a68c7ddf1756" class="cmn-btn btn-md mt-4">Buy Now</a>
            </div><!-- package-card end -->
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
            <div class="package-card text-center bg_img">
              <h4 class="package-card__title base--color mb-2">Artisans</h4>
              <ul class="package-card__features mt-4">
                <li>$4.64 Daily</li>
                <li>21 Working days</li>
                <li>Affliate Bonus $3.36 </li>
                <li>Total 45% + <span class="badge base--bg text-dark">Capital</span></li>

              </ul>
              
              <div class="package-card__range mt-5 base--color">NGN 33,000</div>
              <p class="base--color" style="font-size: smaller;">NGN ~ 47,850</p>
              <a href="https://commerce.coinbase.com/checkout/f6114463-d5b2-4962-b9b3-9af5450258d2" class="cmn-btn btn-md mt-4">Buy Now</a>
            </div><!-- package-card end -->
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
            <div class="package-card text-center bg_img">
              <h4 class="package-card__title base--color mb-2">Job Holders</h4>
              <ul class="package-card__features mt-4">
                <li>$9.86 Daily</li>
                <li>21 Working days</li>
                <li>Affliate Bonus $7.14 </li>
                <li>Total 45% + <span class="badge base--bg text-dark">Capital</span></li>
              </ul>
              <div class="package-card__range mt-5 base--color">NGN 70,000</div>
              <p class="base--color" style="font-size: smaller;">NGN ~ 101,500</p>
              <a href="https://commerce.coinbase.com/checkout/1f7cd6f7-3ac4-429a-9822-4c69bb444648" class="cmn-btn btn-md mt-4">Buy Now</a>
            </div><!-- package-card end -->
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
            <div class="package-card text-center bg_img">
              <h4 class="package-card__title base--color mb-2">Civil</h4>
              <ul class="package-card__features mt-4">
                <li>$18.31 Daily</li>
                <li>21 Working days</li>
                <li>Affliate Bonus $13.26 </li>
                <li>Total 50% + <span class="badge base--bg text-dark">Capital</span></li>
              </ul>
              <div class="package-card__range mt-5 base--color">NGN 130,000</div>
              <p class="base--color" style="font-size: smaller;">NGN ~ 188,500</p>
              <a href="https://commerce.coinbase.com/checkout/4d352659-1adc-41bc-b241-8c9eca9fcde8" class="cmn-btn btn-md mt-4">Buy Now</a>
            </div><!-- package-card end -->
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
            <div class="package-card text-center bg_img">
              <h4 class="package-card__title base--color mb-2">Entrepreneur</h4>
              <ul class="package-card__features mt-4">
                <li>$42.27 Daily</li>
                <li>21 Working days</li>
                <li>Affliate Bonus $30.61 </li>
                <li>Total 50% + <span class="badge base--bg text-dark">Capital</span></li>
              </ul>
              <div class="package-card__range mt-5 base--color">NGN 300,000</div>
              <p class="base--color" style="font-size: smaller;">NGN ~ 435,000</p>
              <a href="https://commerce.coinbase.com/checkout/25031af4-50a6-4d3f-877e-c5648b12e1b7" class="cmn-btn btn-md mt-4">Buy Now</a>
            </div><!-- package-card end -->
          </div>


          <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
            <div class="package-card text-center bg_img">
              <h4 class="package-card__title base--color mb-2">Professional</h4>
              <ul class="package-card__features mt-4">
                <li>$90.18 Daily</li>
                <li>21 Working days</li>
                <li>Affliate Bonus $65.30 </li>
                <li>Total 45% + <span class="badge base--bg text-dark">Capital</span></li>
              </ul>
              <div class="package-card__range mt-5 base--color">NGN 640,000</div>
              <p class="base--color" style="font-size: smaller;">NGN ~ 928,000</p>
              <a href="https://commerce.coinbase.com/checkout/b2b3b882-35c9-4f42-9be6-cad7e07743f8" class="cmn-btn btn-md mt-4">Buy Now</a>
            </div><!-- package-card end -->
          </div>
        
          <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
            <div class="package-card text-center bg_img">
              <h4 class="package-card__title base--color mb-2">Capitalist</h4>
              <ul class="package-card__features mt-4">
                <li>$155.00 Daily</li>
                <li>21 Working days</li>
                <li>Affliate Bonus $112.24 </li>
                <li>Total 45% + <span class="badge base--bg text-dark">Capital</span></li>
              </ul>
              <div class="package-card__range mt-5 base--color">NGN 1,100,000</div>
              <p class="base--color" style="font-size: smaller;">NGN ~ 1,595,000</p>
              <a href="https://commerce.coinbase.com/checkout/465659c8-a8af-4fc4-aa0e-e826ed874596" class="cmn-btn btn-md mt-4">Buy Now</a>
            </div><!-- package-card end -->
          </div>
        
          
         
    
       
          
          
        </div><!-- row end -->
      </div>
    </section>
    <!-- package section end  -->


    
    <!-- footer section start -->
    <!-- <%- include ('./partials/footer');%> -->